<div class="row">
  <div class="col-md-4">
    <profile></profile>
  </div>
  <div class="col-md-8">
    <form [formGroup]="driverForm" class="pagination-wrapper" (ngSubmit)="onSubmit()">
      <div class="row card card-block">
        <div class="col-md-12 form-group">
          <div class="col-md-6 form-group">
            <label class="control-label">Driver's License</label>
            <input type="text" formControlName="driver" class="form-control" value="{{currentDriver.licenseNo}}">
          </div>
          <div class="col-md-6 form-group">
              <label class="control-label" style="font-size: 1.2em">&nbsp;</label><br>
            <button class="btn btn-lg btn-warning btn-with-icon">
              <i class="fa fa-search fa-fw"></i>Search Driver</button>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">First Name</label>
          <input type="text" class="form-control" value="{{currentDriver.firstName}}" readonly>
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">Last Name</label>
          <input type="text" class="form-control" value="{{currentDriver.lastName}}" readonly>
        </div>
        <div class="col-md-4 form-group">
          <label class="control-label">Gender</label>
          <input type="text" class="form-control" value="{{currentDriver.gender}}" readonly>
        </div>
        <div class="col-md-4 form-group">
          <label class="control-label">Nationality</label>
          <input type="text" class="form-control" value="{{currentDriver.nationality}}" readonly>
        </div>
        <div class="col-md-4 form-group">
          <label class="control-label">Contact Number</label>
          <input type="text" class="form-control" value="{{currentDriver.contactNo}}" readonly>
        </div>
        <div class="col-md-12 form-group">
          <label class="control-label">Email</label>
          <input type="text" class="form-control" value="{{currentDriver.email}}" readonly>
        </div>
        <div class="col-md-12 form-group">
          <label class="control-label">Address</label>
          <textarea class="form-control" value="{{currentDriver.address}}" readonly></textarea>
        </div>
      </div>
      <div class="col-md-8">
        <div class="btn-wrap division">
          <button class="btn btn-lg btn-success btn-with-icon">
            <i class="fa fa-check fa-fw"></i>Scan Driver</button>
          <button type="submit" class="btn btn-lg btn-warning btn-with-icon">
            <i class="fa fa-exclamation-triangle fa-fw"></i>Issue Ticket</button>
        </div>
      </div>
    </form>
  </div>
</div>