<div class="row">
  <div class="col-md-12">
      <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
          <table class="table table-bordered table-hover" id="inputViolation">
            <thead>
              <tr>
                <th>Violation</th>
                <th>Fine</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
                <td><input type="text" formcontrolname="violation" class="form-control" placeholder="Violation"></td>
                <td><input type="text" formcontrolname="fine" class="form-control" placeholder="$ 100.00"></td>
                <td><input type="text" formcontrolname="remarks" class="form-control" placeholder="Remarks"></td>
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align: left; border-right: 0px" colspan="2">
                        <button class="btn btn-lg btn-warning btn-with-icon" id="addrow">
                            <i class="fa fa-plus fa-fw"></i>Add row</button>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-lg btn-default btn-with-icon">
                            <i class="fa fa-remove fa-fw"></i>Delete last</button>
                    </td>
                    <td style="text-align: right;border-left: 0px">
                        <button type="submit" class="btn btn-lg btn-success btn-with-icon">
                            <i class="fa fa-upload fa-fw"></i>Submit</button>
                    </td>
                </tr>
            </tfoot>
          </table>
        </form>
    
      <button class="btn btn-lg btn-primary btn-with-icon" style="width: 200px" data-toggle="modal" data-target="#myModal">View Recent History</button>
      
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Recent History</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Violation</th>
                      <th>Driver</th>
                      <th>Fine</th>
                      <th>Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                      <td>{{item.date}}</td>
                      <td>{{item.violation}}</td>
                      <td>{{item.driver}}</td>
                      <td>{{item.fine}}</td>
                      <td>{{item.remarks}}</td>
                    </tr>
                  </tbody>
                </table>
                <form class="pagination-wrapper">
                  <div class="form-group pages">
                    <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                      autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                  </div>
                  <div class="form-group options pages">
                    <div class="input-group input-group-sm">
                      <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                        <option>1</option>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                      </select>
                      <span class="input-group-addon addon-right">Per Page</span>
                    </div>
                  </div>
                </form>
          
              </div>
      </div>  
    </div>
</div>
  </div>
</div>