<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <span class="user-name">{{currentUser.firstName}} {{currentUser.lastName}}</span>
      <span class="user-post">{{currentUser.username}}</span>
      <span class="map-location">
        <i class="fa fa-flag"></i>
        <span> {{currentUser.nationality}}</span>
      </span>
    </div>
    <div class="profile-head">
      <img src="{{avatarImgSrc}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
  </div>
</div>
