<div class="row">
  <div class="col-md-12">
    <card cardTitle="Violation Table">
      <form (ngSubmit)="onSubmit()">
        <table class="form-group table table-bordered table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Violation</th>
              <th>Enforcer</th>
              <th>Fine</th>
              <th>Remarks</th>
              <th>Settled</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let i = index">
              <td>{{item.createdDate.substr(0,10)}} {{item.createdDate.substr(11,8)}}</td>
              <td>{{item.violation}}</td>
              <td>{{item.enforcerId}}</td>
              <td>${{item.fine.$numberDecimal}}</td>
              <td>{{item.remarks}}</td>
              <td>{{item.settled}}</td>
              <td>
                <input class="checkbox" [ngClass]=item.id (change)="checkValue($event, item)" type="checkbox" [id]=item.id>
                <label class="check-label" [for]=item.id></label>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="form-group table table-bordered table-hover">
          <tr>
            <th>Total: </th>
            <th>Quantity: {{number}}</th>
            <th>Amount: ${{total.toFixed(2)}}</th>
          </tr>
        </table>
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
            directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="pagination-wrapper form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Settle Selected</button>
        </div>
      </form>
    </card>
  </div>
</div>