<div class="pages-top">
  <div class="avatar-wrap">
    <div class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar">
    </div>
    <div class="user-info-wrap">
      <span class="user-name">{{currentUser.firstName}} {{currentUser.lastName}}</span>
      <span class="user-post">{{currentUser.username}}</span>
    </div>
  </div>

  <div class="collapse-menu" (click)="_sidebarToggle()">
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div>

</div>
