<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<div class="card card-block login-card">
  <h3 class="form-label">Welcome Back</h3>
  <span class="form-label">Sign in to continue</span>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-left" id="username">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="User Account" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">*Username is required</div>
    </div>
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">*Password is required</div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary">Login</button>
    <a [routerLink]="['/register']" class="btn btn-link">Register Now. →</a>
  </div>
</div>
</form>
