@import '../../shared/theme/conf';
.register-card {
    padding: 20px;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .register-card {
        padding: 20px;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

// .custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
//     display: block;
// }

// .custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
//     border-color: #dc3545;
// }

// .invalid-feedback {
//     display: none;
//     width: 100%;
//     margin-top: .25rem;
//     font-size: 80%;
//     color: #dc3545;
// }