<div class="register-card">
  <card cardTitle='Please input registration details'>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div class="col-md-6 form-group">
          <label class="control-label">User Name</label>
          <input type="text" formControlName="username" class="form-control" placeholder="username">
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="password">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6 form-group">
          <label class="control-label">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" placeholder="John" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" placeholder="Smith">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 form-group">
          <label class="control-label">Gender</label>
          <input type="text" formControlName="gender" class="form-control" placeholder="Male" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
          <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
              <div *ngIf="f.gender.errors.required">Gender is required</div>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <label class="control-label">Nationality</label>
          <input type="text" formControlName="nationality" class="form-control" placeholder="Australian" [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" />
          <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
              <div *ngIf="f.nationality.errors.required">Nationality is required</div>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <label class="control-label">Driver's License</label>
          <input type="text" formControlName="licenseNo" class="form-control" placeholder="100-000-000" [ngClass]="{ 'is-invalid': submitted && f.licenseNo.errors }" />
          <div *ngIf="submitted && f.licenseNo.errors" class="invalid-feedback">
              <div *ngIf="f.licenseNo.errors.required">License Number is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6 form-group">
          <label class="control-label">Contact Number</label>
          <input type="text" formControlName="contactNo" class="form-control" placeholder="0412123456" [ngClass]="{ 'is-invalid': submitted && f.contactNo.errors }" />
          <div *ngIf="submitted && f.contactNo.errors" class="invalid-feedback">
              <div *ngIf="f.contactNo.errors.required">Contact Number is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">Email</label>
          <input type="text" formControlName="email" class="form-control" placeholder="email@adress.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 form-group">
          <label class="control-label">Address</label>
          <textarea formControlName="address" class="form-control" placeholder="123 st. suburb city state" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 btn-wrap division form-group">
        <button type="submit" class="btn btn-primary btn-with-icon">
          <i class="fa fa-pencil fa-fw"></i>Register</button>
      </div>
    </form>
  </card>
</div>