<div class="register-card">
  <card cardTitle='Please input registration details'>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div class="col-md-6 form-group">
          <label class="control-label">User Name</label>
          <input type="text" formControlName="username" class="form-control" placeholder="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6 form-group">
          <label class="control-label">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
          />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
          />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 form-group">
          <label class="control-label">Gender</label>
          <select name="gender" id="gender" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="not_specified">Not Specified</option>
          </select>
          <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
            <div *ngIf="f.gender.errors.required">Gender is required</div>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <label class="control-label">Nationality</label>
          <select *ngIf="arrCountries" name="country" id="country" formControlName="nationality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }">
            <option *ngFor="let country of arrCountries" [value]=country.name>{{country.name}}</option>
          </select>
          <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
            <div *ngIf="f.nationality.errors.required">Nationality is required</div>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <label class="control-label">Driver's License</label>
          <input type="text" formControlName="licenseNo" class="form-control" placeholder="License Number" [ngClass]="{ 'is-invalid': submitted && f.licenseNo.errors }"
          />
          <div *ngIf="submitted && f.licenseNo.errors" class="invalid-feedback">
            <div *ngIf="f.licenseNo.errors.required">License Number is required</div>
            <div *ngIf="f.licenseNo.errors.minlength">License Number must be at least 8 characters</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6 form-group">
          <label class="control-label">Contact Number</label>
          <input type="text" formControlName="contactNo" class="form-control" placeholder="Contact Number" [ngClass]="{ 'is-invalid': submitted && f.contactNo.errors }"
          />
          <div *ngIf="submitted && f.contactNo.errors" class="invalid-feedback">
            <div *ngIf="f.contactNo.errors.required">Contact Number is required</div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="control-label">Email</label>
          <input type="text" formControlName="email" class="form-control" placeholder="email@adress.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 form-group">
          <label class="control-label">Address</label>
          <input formControlName="address" class="form-control" placeholder="Address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 btn-wrap division form-group">
        <button type="submit" class="btn btn-primary btn-with-icon">
          <i class="fa fa-pencil fa-fw"></i><img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />Register</button>
        <a [routerLink]="['/login']" class="btn btn-primary ">Cancel</a>
      </div>
    </form>
  </card>
</div>