<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Violation</th>
            <th>Enforcer</th>
            <th>Fine</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.createdDate.substr(0,10)}} {{item.createdDate.substr(11,8)}}</td>
            <td>{{item.violation}}</td>
            <td>{{item.enforcerId}}</td>
            <td>${{item.fine}}</td>
            <td>{{item.remarks}}</td>
          </tr>
        </tbody>
      </table>
      <table class="form-group table table-bordered table-hover">
        <tr>
          <th>Total: </th>
          <th>Quantity: {{number}}</th>
          <th>Amount: ${{total.toFixed(2)}}</th>
        </tr>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
            autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <card cardTitle="Payment Details">
          <div class="col-md-12 form-group">
            <label class="control-label">Name on Card</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Card Number</label>
            <input type="text" formControlName="cardNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cardNo.errors }"
            />
            <div *ngIf="submitted && f.cardNo.errors" class="invalid-feedback">
              <div *ngIf="f.cardNo.errors.required">Card Number is required</div>
              <div *ngIf="f.cardNo.errors.minlength">Card Number must be at least 16 characters</div>
              <div *ngIf="f.cardNo.errors.maxlength">Card Number must not exceed 16 characters</div>
              <div *ngIf="f.cardNo.errors.pattern">Card Number must be numeric only</div>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Billing Address</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">CVC</label>
            <input type="text" formControlName="cvc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cvc.errors }">
            <div *ngIf="submitted && f.cvc.errors" class="invalid-feedback">
              <div *ngIf="f.cvc.errors.required">CVC is required</div>
              <div *ngIf="f.cvc.errors.minlength">CVC must be at least 3 numbers</div>
              <div *ngIf="f.cvc.errors.pattern">CVC must be numeric only</div>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Month Expiry</label>
            <select name="select" formControlName="month" id="select1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.month.errors }">
              <option value=""></option>
              <option value="jan">JAN</option>
              <option value="feb">FEB</option>
              <option value="mar">MAR</option>
              <option value="apr">APR</option>
              <option value="may">MAY</option>
              <option value="jun">JUN</option>
              <option value="jul">JUL</option>
              <option value="aug">AUG</option>
              <option value="sep">SEP</option>
              <option value="oct">OCT</option>
              <option value="nov">NOV</option>
              <option value="dec">DEC</option>
            </select>
            <div *ngIf="submitted && f.month.errors" class="invalid-feedback">
              <div *ngIf="f.month.errors.required">Month is required</div>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label class="control-label">Year Expiry</label>
            <select name="year-select" formControlName="year" id="select2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
              <option value=""></option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
              <option value="2028">2028</option>
            </select>
            <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
              <div *ngIf="f.year.errors.required">Year is required</div>
            </div>
          </div>
        </card>
        <div align="right">
          <button type="submit" class="btn btn-primary btn-with-icon">
            <i class="fa fa-pencil fa-fw"></i>PAY</button>
        </div>
      </form>
    </div>
  </div>
</div>